* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #ffffff;
}

.header {
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #1351b4;
}

.container {
    background-color: #ecf1f9;
    padding: 40px 20px;
    width: 85%;
    margin: 0 auto;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.mid-left, .mid-right {
    flex: 0 0 45%;
    max-width: 45%;
}

h2 {
    font-size: 3.4rem;
    margin-bottom: 20px;
}

.mid-left-bottom {
    font-size: 1.4rem;
    color: #333333;
    line-height: 1.6;
    text-align: center;

}

.mid-right {
    text-align: center;
}

.fila {
    width: 100%;
    max-width: 500px;
    height: auto;
}

@media (max-width: 768px) {
    .mid-left, .mid-right {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .mid {
        gap: 20px;
    }

    .container {
        padding: 20px 10px;
    }
}
