:root {
  --color-00: #ffffff;
  --color-01: #f7f7f7;
  --color-02: #ededed;
  --color-03: #dedede;
  --color-04: #cccccc;
  --color-05: #b2b2b2;
  --color-06: #9c9c9c;
  --color-07: #717171;
  --color-08: #595959;
  --color-09: #404040;
  --color-10: #2e2e2e;
  --color-11: #111111;
  --color-12: #000000;
  --color-p01: #1351b4;
  --color-p02: #4978c5;
  --color-back: #ecf1f9;
  --color-shadow: 0.2rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--color-back);
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background: var(--color-00);
  display: flex;
  justify-content: center;
}

.title {
  font-size: 4.8rem;
  font-weight: 900;
  color: var(--color-p01);
}

.footer-bg {
  background: var(--color-00);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 0 5rem;
  padding: 2rem 0 2rem 0;
  border-top: 0.2rem solid var(--color-p01);
  border-bottom: 0.2rem solid var(--color-p01);
}

.footer-info ul {
  display: grid;
}

footer .footer-info a,
footer .copyright {
  font-family: 'Roboto';
  font-size: 1.6rem;
}

.footer-info a {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
  color: var(--color-12);
}

footer .copyright {
  color: var(--color-08);
  margin-left: 5rem;
  padding-top: 2rem;
}

main {
  margin: 2rem 5rem;
  display: flex;
}

main .waiting-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main .waiting-list h2 {
  font-family: 'Roboto';
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--color-09);
}

.waiting-list .card-waiting {
  width: 38rem;
  height: auto;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  background: var(--color-00);
  box-shadow: var(--color-shadow);
}

.waiting-list .card-waiting .waiting {
  font-size: 4.8rem;
  font-weight: 900;
  color: var(--color-12);
}

@media (max-width: 769px) {
  .title {
    font-size: 4rem;
  }
  footer .footer-info a,
  footer .copyright {
    font-size: 1.2rem;
  }
}

@media (max-width: 426px) {
  .title {
    font-size: 3.2rem;
  }
  .footer-container {
    flex-direction: column;
    margin: 0 2.5rem;
  }
  main {
    margin: 1.5rem 2.5rem;
  }
}
